.jumbotron {
    background-color:rgba(219, 250, 249, 0.541);
    border-style: solid;
    border-color:rgba(27, 73, 101, 0.575) ;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(direction, color-stop1, color-stop2,);;
}

#Comments {
    border: solid;
    border-color:rgba(27, 73, 101, 0.671) ;
}
#name{
    border: solid;
    border-color:rgba(27, 73, 101, 0.671) ;
}
#email {
    border: solid;
    border-color:rgba(27, 73, 101, 0.671) ;
}

#submit {
    background-color:#1B4965;
}


#Password {
    border: solid;
    border-color:rgba(27, 73, 101, 0.671) ;
}

#data {
    border: solid;
    border-color:rgba(27, 73, 101, 0.671) ; 
}
